body {
  margin: 0;
}

.side-by-side {
  display: flex;
  margin-bottom: 10%;
}

.top-left {
  width: 50%;
  font-family: "Lato", sans-serif;
  padding-left: 50px;
  padding: 60px;
  margin-bottom: 0;
  padding-bottom: 0;
}
#me {
  font-family: "Nunito", sans-serif;
  font-weight: 900;
  color: rgb(61, 60, 60);
  letter-spacing: 3px;
  margin-left: 60px;
  margin-top: 30px;
}
.top-info {
  color: rgb(77, 76, 76);
}
.bold-text {
  font-size: 4em;
  font-weight: bolder;

  margin: 0;
  letter-spacing: -3px;
  color: rgb(46, 46, 46);
}
#title-info {
  font-weight: 300;
  font-size: 2.5em;
  color: darkviolet;
  margin-top: 0;
  padding-top: 0;
}
.button {
  background-color: rgb(116, 71, 153);
  text-decoration: none;
  border: 1 solid rgb(116, 71, 153);
  color: white;
  padding: 10px 20px;
  text-align: center;
  font-size: 1em;
  font-weight: 900;
  border-radius: 5px;
  font-family: "Lato", sans-serif;
}
.button-alin {
  margin-top: 60px;
  position: relative;
}
#CV-button {
  background-color: white;
  color: rgb(116, 71, 153);
  border: 1px solid rgb(116, 71, 153);
  font-family: "Lato", sans-serif;
}
.top-right img {
  width: 100%;
}
.top-right {
  display: flex;
}
.top-right-logo img {
  width: 40px;
  position: absolute;
  height: 40px;
  right: 60px;
  margin-top: 100px;
}

#about-me {
  font-family: "Lato", sans-serif;
  color: rgb(116, 71, 153);
  font-weight: 800;
  font-size: 1.6em;
}

#about-web {
  font-family: "Lato", sans-serif;
  color: rgb(46, 46, 46);
  font-size: 2em;
  margin-right: 30%;
}

.about-img {
  width: 50%;
}
.about-img img {
  width: 100%;
}

.about-me {
  width: 50%;
}

.about-info {
  color: rgb(77, 76, 76);
  font-weight: 700;
  font-size: 1em;
  line-height: 2em;
  font-family: "Lato", sans-serif;
  margin-right: 30%;
  margin-bottom: 5%;
}
a:hover {
  background-color: rgb(207, 67, 196);
}

#service {
  font-family: "Lato", sans-serif;
  font-size: 2em;
  font-weight: 800;
  color: rgb(116, 71, 153);
}

#what-text {
  font-family: "Lato", sans-serif;
  font-size: 2em;
  font-weight: 200;
  color: rgb(77, 76, 76);
}

.grp-center {
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
}
.back-img {
  background-image: url("../images/my-bg2.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}
.mobile-box {
  height: 400px;
  width: 30%;
  border-radius: 5px;
  font-family: "Lato", sans-serif;
  margin-right: 5%;
  box-shadow: 10px 10px 40px grey;
  color: rgb(77, 76, 76);
  padding: 10px;
  background-color: white;
}

.flutter-box {
  width: 30%;
  padding: 10px;
  font-family: "Lato", sans-serif;
  border-radius: 5px;
  box-shadow: 10px 10px 40px grey;
  color: rgb(77, 76, 76);
  height: 400px;
  background-color: white;
}

.web-box {
  width: 30%;
  padding: 10px;
  font-family: "Lato", sans-serif;
  border-radius: 5px;
  box-shadow: 10px 10px 40px grey;
  color: rgb(77, 76, 76);
  height: 400px;
  margin-left: 5%;
  background-color: white;
}

.item-text {
  color: rgb(77, 76, 76);
  font-weight: 700;
  font-size: 0.8em;
  line-height: 2.3em;
  font-family: "Lato", sans-serif;
}

footer {
  text-align: center;
  height: 200px;
  background-color: rgb(116, 71, 153);
  background-image: linear-gradient(
    to left,
    rgb(119, 14, 72),
    rgb(116, 71, 153)
  );
  margin: 0;
}

.footer-title {
  display: flex;
  color: white;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 0.8em;
  text-align: start;
}

.footer-name {
  position: absolute;
  left: 10px;
  margin-left: 5%;
  margin-top: 3%;
}
.footer-contact {
  position: absolute;
  right: 10px;
  margin-right: 5%;
  margin-top: 3%;
}
small {
  color: white;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 0.8em;
}

hr {
  text-align: center;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 2%;
  margin-top: 100px;
}
